/*reset*/
*{
    margin: 0;
    padding: 0;
    font-family: "Verdana";
    align-items: centre;
    justify-content: centre;
}

/*varibales*/
:root{
    --head-height: 10px;
}

body{
    width:100%;
    height:2000px;
    color:#fff;
    background: linear-gradient(135deg, rgb(66, 74, 149), rgb(130, 175, 238), rgb(151, 77, 183),rgb(54, 54, 164),rgb(53, 105, 138),rgb(110, 74, 152));
    background-size: 400% 400%;
    position:relative;
    animation: Animation 5s linear infinite;
}

@keyframes Animation { 
    0%{background-position:10% 50%}
    50%{background-position:91% 50%}
    100%{background-position:10% 50%}
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
}

.about p{
    font-size: medium;
    color: #ffffff;
}

.about h2{
    text-align: center;
    color: #ffffff;
}

#abt{
    width: 50%;
    height: 90%;
}

#abt p{
    padding-top: 30px;
}
/*header*/
#head{
    /*background-color: #0979c4;*/
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Header: Logo and Image */
#logo{
    margin-top: 20px;
    text-align: center;
    align-items: center;
    margin-left: 30px;
    
}
#logo img{
    height: 150px;
}


.round-button{
    margin-top: 60px;
    margin-right: 70px;
    height: 60px;
    width: 60px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.5s;

}

.round-button:hover{
    background-color: #8f1289;
}



.input-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    text-align: center;
}


.input-box{
    padding-top: 20px;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    border-color: #000000;
    justify-content: center;
    width: 30%;
    height: 90%;
    border-collapse: collapse;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.input-box h2{
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 120%;
}


.input-sec input[type="text"]{
    border-color: #ffffff;
    font-family: 'Looper';
    background-color: transparent;
    padding: 5px 5px;
    text-align: center;
    box-shadow: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 30px;

}

.input-box button{
    border-radius: 20px;
    border: none;
    box-shadow: none;
    padding: 10px 25px;
    background: transparent;
    color:  #fff;
    font-size: 16px;
    cursor: pointer;
}

.input-box button:hover{
    background: #8f1289;
}

.code-sec{
    display: flex;
    height: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.machine-code{
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 30%;
    height: 80%;

}

#code-heading{
    color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 25px;
}

 .machine-code th{
    padding: 0 10px;
 }


 #mcode{
    height: 55px;
    color: white;
 }

 #memreg-heading{
    color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 25px;
}

.tables{
    display: flex;
    height: 400px;
}

.reg-table {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 50%;

}

#registers th, td {
    border: 1px solid white;
    text-align: center;
}

#registers{
    height: 300px;
    color: white;
}

.reg-table th{
    padding-right: 15px;
    padding-left: 15px;
}

.reg-table thead tr {
    color: #fff;
    text-align: left;
}

.mem-table th{
    padding-right: 15px;
    padding-left: 15px;
   
}

#memory th, td {
    border: 1px solid white;
    color:white;
    text-align: center;
}

#memory{
    height: 300px;
}

.mem-table {
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;

    font-size: 0.9em;
    font-family: sans-serif;
    width: 50%;
}

.mem-table thead tr {
    color: #fff;
    text-align: left;
}

#cycle-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
}

#memreg-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#code-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.clk-cycle{
    display: flex;
    padding: 0 90px;
    align-items: center;
    justify-content: space-between;
    height: 250px;
}

.clk-cycle div{
    text-align: center;
    border-radius: 20px;
    border-width:2px;
    border-style:solid;
    border-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    font-size: 20px;
}


